/* Variables */


/* Color */
$color-1: #E3F8FF;
$color-2: #DCFAFB;
$color-3: #FFE8DF;
$color-accent: #FF5151;
$color-dark: #161616;

/* Fonts */
$font-main: 'Julius Sans One', sans-serif;
$font-secondary: 'Montserrat', sans-serif;