@import "../utilities/variables";

header {
    height: 8vh;
    position: fixed;
    width: 100vw;
    background-color: #FFF;
    z-index: 5000;

    nav {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .carrito {
            .bx {
                font-size: 4rem;
                color: $color-dark;
                margin: 0 1rem;
                display: none;
            }
        }

        h1 {
            margin: 5%;
            font-weight: 600;
        }

    }
}
    p {
        color: $color-dark;
    }