
.shop {

    .prodDestacado {
        background-color: $color-1;
        width: 100%;
        height: calc(92vh);
        display: flex;
        justify-content: space-around;
        padding: 5vh 0;

        .prodDestacado__img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60vw;

            .container__img {
                background-color: $color-dark;
                border-radius: 50%;
                width: 30vw;
                height: 30vw;
                display: flex;
                justify-content: center;
                align-items: center;
                

                img {
                    width: 140%;
                    transform: rotate(30deg);
                }
            }
        }

        .prodDestacado__info {
            width: 40vw;
            max-width: 460px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            font-family: $font-secondary;

            h3{
                font-size: 4rem;
                font-weight: 700;
            }
            p {
                &:first-of-type{
                    font-size: 3rem;
                }
                &:last-of-type{
                    font-size: 1.7rem;
                }
            }
            .prodDestacado__info--compra {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                padding: 5vh 0;


                .precio{
                    color: $color-dark;
                }

                .card__counter {
                    height: 40px;
                    background-color: #4285EB;
                    display: inline-flex;
                    border-radius: 20px;
        
                    button,
                    input {
                        width: 40px;
                        border: 0;
                        font-size: 3rem;
                        background-color: #4285EB;
                        color: #FFFFFF;
                        text-align: center;
                        outline: none;
                    }
        
                    &>button {
                        cursor: pointer;
                        border-radius: 50%;
                        transition: all .2s ease-in-out;
                    }
        
                    &>button:hover {
                        background-color: #2169D6;
                    }
                }
            }
        }
    }

    .card {
        width: 50vw;
        border: none;
        background-color: $color-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        overflow: hidden;
        margin: 0 auto;

        .card__img {
            width: 380px;
            height: auto;
            padding: 3rem 0;

            img {
                width: 100%;
            }
        }

        .card__price {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;

            .card__icon {
                font-size: 4rem;
            }

            .card__price--text {
                font-size: 2rem;
            }
        }
        .card__price--before {
            text-decoration: line-through;
        }

        
    }

    .productos {
        margin: 4rem;
        display: grid;
        flex-flow: row wrap;
        grid-template-columns: repeat(3, 1fr);

        article {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background-color: $color-2;
            border: 1px solid $color-dark;
            border-radius: 5px;
            width: min-content;

            img {
                width: 25vw;
                background-color: #C5C5C5;
                padding: 2rem;
            }
            h4, h5 {
                display: inline;
                padding: 1rem 2rem;
                font-weight: 700;
                font-family: $font-secondary;
            }
            input {
                margin: 1rem;
            }
        }
    }
}

.btnShowSneakers {
    margin: 4rem;
    display: flex;
    justify-content: center;
}